* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
}

.content {
    height: 100%;
    padding: 50px 0 0;
    box-sizing: border-box;
    position: relative;
}


.nav {
    background-color:white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e7e7e7;
}

/* 
.toolbar{
    background-color:black;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.login{
    background-color:red;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    
}
input,
button,
select {
    width: 95%;
    height: 40px;
    text-align: center;
    vertical-align: middel;
} */





.funcarea {
    height: 100%;
    background-color: azure;
}