

html,body{
	width:100%;
    height:100%;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    background-color: red;
    display: flex;
    flex : 1;
    flex-direction: row;
}

.funcnav {
    background-color: rgb(20, 20, 20);
    width: 80px;
    color: white;
}

.funclist{
    background-color: rgb(250, 250, 250);
    width: 150px;
    min-width: 120px;
    max-width: 200px;
    border-right: 1px solid rgb(230, 230, 230);
}

.funccontent{
    background-color: rgb(240, 240, 240);
    flex: 1;
}

.func-con-header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(230, 230, 230);
    height: 50px;
    background-color: blue;
}

.func-con-chat {
    background-color: rgb(240, 0, 0);
    flex: 1;
    display: flex;
    flex-direction: row;
}

.chat{
    display: flex;
    height: 100%;
    flex-direction: column;
    flex:1;
    background-color: blueviolet;
}

.message{
    border-bottom: 1px solid rgb(230, 230, 230);
    flex:1;
    background-color: aqua;
}
.chatinput{
    border-bottom: 1px solid rgb(230, 230, 230);
    flex:1;
    background-color: lawngreen;
}

.chat-group{
    width: 100px;
    background-color: wheat;
}