
html,body{
	width:100%;
    height:100%;
    padding: 0;
    margin: 0;
}


.funcconheader {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(230, 230, 230);
    height: 50px;
    background-color: lightblue;
}

.funcconchat {
    background-color: rgb(20, 0, 0);
    flex: 1;
}

.chatpanel{
    height: 100%;
    background-color: blueviolet;
}

.chat{
    display: flex;
    height: 100%;
    flex-direction: column;
    flex:1;
    background-color: blueviolet;
}

.message{
    border-bottom: 1px solid rgb(230, 230, 230);
    flex:1;
    background-color: aqua;
}
.chatinput{
    border-bottom: 1px solid rgb(230, 230, 230);
    flex:1;
    background-color: lawngreen;
}
.chat-group{
    width: 100px;
    background-color: wheat;
}